@charset "utf-8";
@import 'variaveis';


* { padding:0px; margin:0px; border:0px; list-style:none; outline:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {	border-collapse: collapse; border-spacing: 0;}
body {height: 100% !important; position: relative; font-family: $montserratregular;}
picture, picture img { width: 100%; height: auto;}

.menu-active nav {
  transform: translateX(0);
}

body.menu-active {
  overflow: hidden;
}

/* Header */
header { 
	height: 136px;

	.logo {
		margin-top: 40px;
	}

	ul.icones {
	    display: none;

	    @media #{$bp-sm} {
	      width: 100%;
	      margin-top: 50px;
	      display: flex;
	      flex-direction: row;
	      justify-content: flex-end;
	      align-items: center;
	      
	      li {
	        width: auto;
	        height: auto;

	        a {
	          display: block;
	          width: 35px;
	          height: 30px;
	          text-indent: -9999em;          

	          &.ico-menu {
	            background: url(../imgs/ico_menu.svg) no-repeat left top;
	            background-size: 100% auto;
	          }

	          &.menu-aberto {
	            background: url(../imgs/fecha_menu.svg) no-repeat left top;
	            background-size: auto 100%;
	          }
	        }
	      }
	    }
	}

	nav {
		width: 100%;
		height: 136px;

		@media #{$bp-sm} {
	      position: fixed;
	      top: 136px;
	      left: 0px;
	      background: #fcfcfc;
	      width: 100%;
	      height: 100%;
	      display: block;
	      z-index: 8554;
	      overflow: auto;
	      transform: translateX(-100%);
	      transition: all .35s ease-out;
	    }

		ul.menu {
			display: flex;
			justify-content: flex-end;
			height: 100%;
			align-items: center;

			@media #{$bp-sm} {
				justify-content: flex-start;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}

			li {
				margin-left: 42px;

				@media #{$bp-md} {
					margin-left: 25px;
				}

				@media #{$bp-sm} {
					margin: 25px 0 0 20px;
				}

				a {
					font-family: $montserratbold;
					font-size: 1.125em;
					color: $preto;

					&:hover {
						color: #0199b0;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.hero {
	background: blue;
	height: auto;
	padding: 0;

	picture {
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.home {
	margin-top: 80px;
	margin-bottom: 80px;

	@media #{$bp-sm} {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	picture img {
		margin-bottom: 70px;

		@media #{$bp-md} {
			margin-bottom: 40px;
		}
	}

	h2 {
		font-size: 2.25em;
		font-family: $montserratbold;
		color: $preto;
		margin-bottom: 20px;
	}

	p {
		font-size: 1.125em;
		margin-bottom: 20px;

		@media #{$bp-md} {
			margin-bottom: 40px;
		}
	}

	ul.servicos {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		@media #{$bp-sm} {
			flex-direction: column;
		}

		li {
			width: 30%;
				
			@media #{$bp-md} {
				width: 50%;
				padding: 0 20px 0 0;

				&:first-child {
					width: 100%;
				}
			}			

			@media #{$bp-sm} {
				width: 100%;
				text-align: center;
				padding: 0;
			}


			img {
				width: 100%;
				max-width: 200px;
				margin-bottom: 40px;

				@media #{$bp-md} {
					max-width: 100%;
				}

				@media #{$bp-sm} {
					max-width: 100%;
					margin-bottom: 30px;
				}
			}

			h3 {
				font-size: 1.5em;
				font-family: $montserratbold;
				color: #282828;
			}

			strong {
				font-size: 1.125em;
				font-family: $montserratregular;
				color: #282828;
				margin-bottom: 10px;
				display: block;
			}

			p {
				font-size: 0.875em;
				font-family: $montserratlight;
				color: #282828;
				line-height: 1.5em;
			}
		}
	}

	ol.lista-links {
		margin: -12px 0 0;
		font-size: 36px;
		color: #0199b0;
		font-family: $montserratbold;

		@media #{$bp-sm} {
		 font-size: 24px;
		 margin: 0;
		}

		li {
			list-style-position: inside; 
			list-style-type: decimal;
			padding: 5px 0 15px;
			border-bottom: 1px solid $preto;

			@media #{$bp-sm} {
				padding: 15px 0 25px 20px;
			}

			a {
				font-size: 16px;
				color: #282828;
				font-family: $montserratregular;
				line-height: 1.125em;
				padding-left: 40px;
				display: block;
				margin-top: -28px;

				@media #{$bp-sm} {
					margin-top: -24px;
					padding-left: 30px;
				}
			}
		}
	}
}

footer {
	border-top: 5px solid #0199b0;
	padding: 35px 0;

	@media #{$bp-sm} {
		text-align: center;
	}

	ul.menu {
		display: flex;
		justify-content: space-between;
		height: 100%;
		flex-direction: column;

		@media #{$bp-sm} {
			display: none;
		}

		li {
			margin: 0 0 20px;

			&:last-child {
				margin: 0;
			}

			a {
				font-family: $montserratbold;
				font-size: 1.125em;
				color: $preto;

				&:hover {
					color: #592f83;
					text-decoration: none;
				}
			}
		}
	}

	h4 {
		color: #592f83;
		font-family: $montserratbold;
		margin: 0 0 15px;
	}
	h4 {
		color: #592f83;
		font-family: $montserratbold;
		margin: 0 0 20px;
		font-size: 1.125em;

		@media #{$bp-sm} {
			font-size: 1em;
		}
	}

	p {
		font-family: $montserratbold;
		margin: 0 0 20px;

		@media #{$bp-sm} {
			font-size: 0.875em;
		}
	}

	ul.links-sociais {
		display: flex;
		flex-direction: row;

		@media #{$bp-sm} {
			justify-content: center;
		}

		li {
			margin: 0 15px 20px 0;

			@media #{$bp-sm} {
				margin: 0 10px 20px;
			}

			a {
				display: block;
				width: 25px;
				height: 27px;
				text-indent: -9999em;
				background: url(../imgs/sprite-sociais.png) no-repeat;

				&.facebook {
					background-position: 5px top;
				}

				&.instagram {
					background-position: -27px top;
				}

				&.twitter {
					background-position: -68px top;
					width: 32px;
				}

				&.linkedin {
					background-position: -112px top;
					width: 27px;
				}
			}
		}
	}
}